.header {
  height: 80px;
  width: 100%;
  background-color: #919191;
  position: relative;
  margin-bottom: 20px;
}

.header img {
  margin: 10px;
  height: 60px;
  width: 50px;
  border:0;
  outline: none;
  cursor: pointer;
}
